<!-- Validation failure messages -->
<% if @basis.errors.any? %>
  <% @basis.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Basis #<%= @basis.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_basis/<%= @basis.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for name -->
      <div class="form-group">
        <label for="name" class="control-label">
          Name
        </label>

        <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @basis.name %>">
      </div>

      <!-- Label and input for team_id -->
      <div class="form-group">
        <label for="team_id" class="control-label">
          Team
        </label>

        <%= select_tag(:team_id, options_from_collection_for_select(Team.all, :id, :created_at, @basis.team_id), :class => "form-control") %>
      </div>

      <button class="btn btn-warning">
        Update Basis
      </button>
      or
      <a href="/bases/<%= @basis.id %>">Cancel</a>
    </form>
  </div>
</div>
