<div class="page-header">
  <h3>Basis #<%= @basis.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd><%= @basis.name %></dd>

      <dt>Team</dt>
      <dd><%= @basis.team_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/bases" class="btn btn-primary">
        Back
      </a>
      <a href="/bases/<%= @basis.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_basis/<%= @basis.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
